In [1]:
import duckdb
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date

In [2]:
def create_con():
    con = duckdb.connect(database=':memory:')
    return con

def execute_local(con, query):
    result = con.execute(query).fetchdf()
    return result

con = create_con()
q = '''
        CREATE TABLE patients AS SELECT * FROM read_csv_auto('Data/synthetic/csv/patients.csv')
    '''
execute_local(con, q)
patients = execute_local(con, '''select * from patients''')

In [3]:
def date_to_age(birthdates):
    today = date.today()
    return birthdates.apply(
                lambda x: x.apply(
                    lambda y: int(today.year - y.year - ((today.month, today.day) < (y.month, y.day)))))

# Build the dataframe
df = patients.copy()

# Convert birthdate to age
age_col = date_to_age(df[['BIRTHDATE']])
df["AGE"] = age_col

# Rearange column order
cols = ['Id', 'BIRTHDATE', 'DEATHDATE', 'AGE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP', 'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE']
df = df[cols]

# We only want alive people
df.drop(df[df['DEATHDATE']  == df['DEATHDATE']].index, inplace=True)
df.drop(['DEATHDATE'], axis=1, inplace=True)

# drop irrelevant columns or columns that contain too sensitive information
df.drop(['LAT', 'LON', 'SSN', 'DRIVERS', 'PASSPORT', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY'], axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)
df

,Id,BIRTHDATE,AGE,PREFIX,FIRST,LAST,SUFFIX,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ZIP
0,b8d8578a-3403-a5c5-6e44-19cae89e66e6,1996-09-18,25,Mr.,Josiah310,Marks830,NaN,NaN,NaN,white,nonhispanic,M,Lelystad Flevoland NL,8241
1,6f196958-2892-9208-d039-3bc0da53e441,1967-11-10,54,Mrs.,Chanel977,Corkery305,NaN,Erdman779,M,white,nonhispanic,F,Lelystad Flevoland NL,8303
2,16b4683a-7530-6f59-8b55-55c2ff94cb4a,1981-12-03,40,Mr.,Shelton25,Kirlin939,NaN,NaN,M,white,nonhispanic,M,Lelystad Flevoland NL,8321
3,30043951-c45e-bd62-73bf-33416a271dea,1997-07-16,24,Ms.,Marcia467,Ryan260,NaN,NaN,NaN,white,nonhispanic,F,Lelystad Flevoland NL,3897
4,03b2c661-cd30-40a7-2afd-d600d07533da,1966-01-09,56,Mr.,Michel472,Berge125,NaN,NaN,M,white,nonhispanic,M,Emmeloord Flevoland NL,8307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,122adea7-6afd-81cb-2162-185263fa7ce9,1956-03-21,66,Mr.,Antonia30,Breitenberg711,NaN,NaN,M,white,nonhispanic,M,Emmeloord Flevoland NL,8321
472,ba345a55-3a6d-8884-fa60-41d41375d2fb,1988-12-24,33,Ms.,Trina350,Schmeler639,NaN,NaN,S,white,nonhispanic,F,Lelystad Flevoland NL,8211
473,6cebf2c8-2017-4e8a-3bff-d15e62ba8a3b,1970-01-18,52,Mrs.,Leena55,Ebert178,NaN,Casper496,M,white,nonhispanic,F,Dronten Flevoland NL,8302
474,6e3e5e33-c0bd-6916-7b6f-d671e1296a3d,1979-01-24,43,Mrs.,Cleopatra935,Schmitt836,NaN,Schimmel440,M,white,nonhispanic,F,Emmeloord Flevoland NL,8302
475,71c1dbcb-a072-5fab-42c4-695511ee574e,1968-10-05,53,Mr.,Henry768,Hoppe518,NaN,NaN,M,white,nonhispanic,M,Dronten Flevoland NL,8304

In [4]:
def get_subquery(row, col):
    if type(row[col]) == str:
        return f'{col} == \'{row[col]}\''
    return f'{col} == {row[col]}'

def build_k_anonymity_query(row, columns):
    query = ' & '.join([get_subquery(row, col) for col in columns])
    return query

def k_anonymity_query(df, row):
    query = build_k_anonymity_query(row, df.columns)
    return df.query(query)

def generalize(df, depths):
    return df.apply(lambda x: x.apply(lambda y: int(int(y/(10**depths[x.name]))*(10**depths[x.name]))))

def make_k_anonymous(df, k):  
    tmp = df.copy()
    tmp = tmp.where(pd.notnull(tmp), 'unknown')
    for index, row in tmp.iterrows():
        rows = k_anonymity_query(tmp, row)
        if rows.shape[0] < k:
            tmp.drop(index,inplace=True)
    tmp.reset_index(drop=True, inplace=True)
    return tmp

def isKAnonymized(df, k):
    for index, row in df.iterrows():
        rows = k_anonymity_query(df, row)
        if rows.shape[0] < k:
            print(rows)
            return False
    return True

# old version of the query
# query = ' & '.join([f'{col} == \'{row[col]}\'' if type(row[col]) == str else f'{col} == {row[col]}'for col in df.columns])

In [5]:
depths = {
    'ZIP': 2,
    'AGE': 1
}

k=1

generalized = generalize(df[['ZIP', 'AGE']], depths)
gender = df[['GENDER']]

generalized = pd.concat([generalized, gender], axis=1, join="inner")
generalized = pd.concat([generalized, df[['MARITAL']]], axis=1, join="inner")

k_anonymous = make_k_anonymous(generalized, k)

# isKAnonymized(k_anonymous, k)

print(generalized.shape)
print(k_anonymous.shape)
print('Row loss: %d'%(generalized.shape[0]-k_anonymous.shape[0]))
# print(k_anonymous)

(476, 4)
(476, 4)
Row loss: 0

In [6]:
# df[['MARITAL']].loc[df['MARITAL'] ==  'None']
nones =  k_anonymous.loc[k_anonymous['MARITAL'] ==  'unknown']
singles = k_anonymous.loc[k_anonymous['MARITAL'] ==  'S']
maried = k_anonymous.loc[k_anonymous['MARITAL'] ==  'M']
print(nones)

      ZIP  AGE GENDER  MARITAL
0    8200   20      M  unknown
3    3800   20      F  unknown
7    8200   10      F  unknown
8    3800   10      M  unknown
10   8200    0      F  unknown
..    ...  ...    ...      ...
457  8200    0      M  unknown
458  8200    0      M  unknown
463  8200   10      F  unknown
464  8300   10      M  unknown
466  8200   10      F  unknown

[169 rows x 4 columns]